body {
    padding-top: 20px;
}

#loginArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
}

#alertContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
    display: none;
}

.mdc-text-field {
    width: 100%;
}

.mdc-button {
    margin-top: 10px;
}
